{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container">
        <div class="container">
            <h1 class="text-center">Basic Information</h1>
            <p class="lead text-center">I am a senior at <a href="http://ssfhs.schoolloop.com/" target="_blank">South San Francisco High School</a>. I am 18 years old. I was born on January 6, 2000 in San Francisco.</p>
            <h1 class="text-center">My Hobbies</h1>
            <ul class="text-center">
                <li>video games</li>
                <a href="https://www.youtube.com/watch?v=E_McsaVvMDM" target="_blank"><img src='static/images/kirb_star_allies.jpeg' class="img-rounded" alt="Kirby Super Star Ultra" width="320" height="240"></img></a>
                <li>drawing</li>
                <a href="https://youtu.be/E_McsaVvMDM?t=28s" target="_blank"><img class="images" src='static/images/artist.png' alt="Artist" class="img-rounded" width="320" height="240"></img></a>
                <li>perler beads</li>
            <a href="https://www.youtube.com/watch?v=8pDZocqYvww" target="_blank"><img src='static/images/bandanadee_perler.jpg' alt="Bandana Dee made up of perler beads" class="img-rounded" width="320" height="240"></img></a>
            </ul>
</div>
{% endblock %}