{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="text-center container">
        <div>
            <h1>Projects</h1>
            <p>These are some projects I made on <i>Snap!</i> and Python, the first two programming languages I've learned! I created these in my computer science class. Have fun (hopefully)!<br>Note: Press the green flags to start the program. Don't touch the arrow button.</p>
        </div>
        <div>
            <h3>Hangman</h3>
            <p>This is a hangman project. Its theme is Camp Camp, a show I was into during the time of the project.</p>
            <iframe width="600" height="500" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=dingledangle&ProjectName=Project%204%3A%20Hangman%20%5Bstarter%5D"></iframe>
        </div>
        <div>
            <h3>Avatar Creator</h3>
            <p>This was my first semester finals project. We could create anything we wanted, so I decided to make an avatar creator. It was <i>so</i> much work because not only did I have to code everything, but I also had to draw everything. Looking past the frustrating load of work, it was pretty fun to implement my hobby in this project, which is drawing!</p>
            <iframe width="600" height="500" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=dingledangle&ProjectName=avatar%20creator"></iframe>
        </div>
        <div>
            <h3>Three Little Kittens (Nursery Rhyme)</h3>
            <p>A simple nursery rhyme story of the Three Little Kittens.</p>
            <iframe width="600" height="500" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=dingledangle&ProjectName=Three%20Little%20Kittens"></iframe>
        </div>
        <div>
            <h3>Ball Game</h3>
            <p>Actually, this isn't really a game... It's just spawning colorful balls. Despite its simplicity, it's pretty fun and mesmerizing. Press the spacebar to spawn as many balls as you want!</p>
            <iframe width="600" height="500" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=dingledangle&ProjectName=ball"></iframe>
        </div>
</div>
{% endblock %}